
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 1.5rem;
}
h2{
    margin: 50px 50px;
    text-align: center;
    font-size: 38px
}
.menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    margin:auto;
    margin-bottom: 60px;
}

.chicken{
    border: 1px solid black;
    background: rgb(176, 241, 150);
}
.chicken h3{
   float: right;
   width: 155px;
   text-align: center;
    border: 1px solid black;
    background: rgb(244, 204, 59);
}
.beef{
    border: 1px solid black;
    background: rgb(152, 152, 234);
}
.beef h3{
    width: 155px;
   color: #fff;
    text-align: center;
    float: right;
    border: 1px solid black;
    background: red;;
}
.sushi{
    border: 1px solid black;
    background: rgb(163, 240, 243);
}
.sushi h3{
    width: 155px;
    text-align: center;
    float: right;
    border: 1px solid black;
    background: rgb(73, 239, 120);
}
p{
    margin:30px 10px;
    font-size: 18px;
}

/* 992px and above desktop */
@media only screen and (min-width: 992px) {
      .menu{
        display: grid;
        grid-template-columns: 1fr 1fr,1fr;
        gap: 1.5rem;
      }
    }


@media only screen and (min-width: 768px) and (max-width: 991px){
        .menu{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }
        .sushi{
            grid-column: 1/-1;
            width: 100%;
            padding: 1.5rem;
        }
        .sushi h3{
            float: right;
          
            text-align: center;
            float: right;
            
            margin-top: -25px;
            margin-right: -25px;
        }
}
       
    
     
  

/* 767px and below mobile */
@media only screen and (max-width:767px) {
    .menu{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

